<div style="padding: 10px; margin: 10px; text-align: end">
  <button (click)="resetFilter()" style="margin-right: 20px; background-color: gray" mat-raised-button color="primary"><i class="fas fa-redo-alt"></i> Reset</button>
  <button (click)="openDialog()" mat-raised-button style="background-color: yellow"><i class="fas fa-user-plus"></i> Add a Company Staff</button>
</div>
<mat-card style="margin: 20px; background-color: #275361">
  <table style="background-color: transparent" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef (click)="getDataSharing()">
        Name
        <div>
          <input type="text" name="first_name" (change)="searchData($event, 'first_name')" />
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.first_name }} {{ element.last_name }}</td>
    </ng-container>

    <ng-container matColumnDef="User Type">
      <th mat-header-cell *matHeaderCellDef>
        User Type
        <div>
          <input type="text" />
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.company.user_type }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Entity">
      <th mat-header-cell *matHeaderCellDef>
        Entity
        <div>
          <input type="text" />
        </div>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.company.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>
        Status
        <select (change)="searchData(user_status.value, user_status.name)" name="user_status" #user_status ngModel="" matNativeControl required>
          <option value="active">Active</option>
          <option value="pending">Pending</option>
        </select>
      </th>
      <td mat-cell *matCellDef="let element">
        <i
          class="fas fa-check"
          [ngStyle]="{
            color: element.user_status === 'active' ? 'green' : 'red'
          }"
        ></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; justify-content: space-around">
          <p><i class="fas fa-edit"></i></p>
          <i (click)="deleteData(element._id)" class="fas fa-trash-alt"></i>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
